.projects {
    padding: 20px;
    background-color: #FED0BB;
    border-radius: 10px;
}
  
.project-page-title .project-main {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 30px;
}
  
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 0 20px;
}
  
.project-card {
    position: relative;
    background-color: rgba(178, 58, 72, 0.75);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
}
  
.project-image {
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}
  
.project-description {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    background: rgba(178, 58, 72); 
    color: #FED0BB; 
    padding: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    box-sizing: border-box; 
}
  
.project-card.hovered .project-description {
    opacity: 1; 
}
  
.project-title {
    font-size: 2rem;
    text-align: center;
    margin: 15px 0;
    color: #FED0BB;
}
  
.project-details {
    transition: opacity 0.3s ease-in-out;
    padding: 15px;
}

.project-card.hovered .project-details {
    opacity: 0; 
}
  
.languages {
    font-weight: bold;
    font-size: 20px;
}
  
.project-details p {
    margin: 5px 0;
    color: #FED0BB;
}

.project-card:not(.hovered) {
    transform: none; /* Ensure non-hovered cards don't transform */
}
